.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 84px;
    border-bottom: 2px solid #c81534;
}

.logo {
    padding-top: 18px;
}

.loginarea {
    height: 522px;
    border: 1px solid #d6d3d3;
    margin-top: 20px;
}

.loginarea>h3 {
    height: 42px;
    border-bottom: 1px solid #e6e3e3;
    padding: 5px 10px 0;
    background-color: #d8e4e4;
    color: #2a3636;
    font-size: 18px;
    font-weight: 400;
}

.loginarea>h3>div.regist {
    float: right;
    font-size: 14px;
}

.login_form {
    width: 600px;
    /* background-color: #c6c6ca; */
    margin: 50px auto 0;
}

.login_form li {
    margin-top: 20px;
}

.login_form ul>li>label {
    display: inline-block;
    width: 88px;
    text-align: right;
    font-size: 16px;
}

.login_form ul>li>input {
    width: 242px;
    height: 37px;
    border: 1px solid #c0c5c5;
}

.login_form ul>li>span {
    padding-left: 20px;
    font-size: 16px;
}

.login_form ul li span>i {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.error {
    color: #e73939;
}

.success {
    color: #008000;
}

.error_icon {
    background: url(../common/img/error.png) no-repeat;
}

.success_icon {
    background: url(../common/img/success.png) no-repeat;
}

#code_img {
    display: inline-block;
    width: 120px;
    height: 40px;
    background-color: royalblue;
    margin-left: 23px;
}

.btn {
    background-color: #ac3030; 
    font-size: 16px;
    color: #fff;
    margin: 30px 0 0 90px;
}

#findPwd_link {
    margin-left: 10px;
    color: #2aabd2;
}